.fmod-bold {
  font-weight: bold;
}

.fmod-italic {
  font-style: italic;
}

.fs-content-sm {
  font-size: 0.85em;
  line-height: 1.5;
}

.fs-content-std {
  font-size: 1em;
  line-height: 1.5;
}

.fs-content-lg {
  font-size: 1.2em;
  line-height: 1.5;
}

.fs-headline-4 {
  font-size: 2em;
  line-height: 1.1;
}

.fs-headline-3 {
  font-size: 2.5em;
  line-height: 1.1;
}

.fs-headline-2 {
  font-size: 3em;
  line-height: 1.1;
}

.fs-headline-1 {
  font-size: 4em;
  line-height: 1.1;
}

.fs-headline-max {
  font-size: 6em;
  line-height: 1;
}

.m-h-sm {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.m-h-std {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-h-lg {
  margin-top: 2em;
  margin-bottom: 2em;
}

.m-h-xlg {
  margin-top: 4em;
  margin-bottom: 4em;
}

.p-v-std {
  padding-left: 1em;
  padding-right: 1em;
}

/* Reset */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  background: currentColor;
}

ul,
ol {
  list-style: none;
}